---
import { t } from 'utils/i18n'
import { portfolio } from 'data/portfolio'
import Button from 'components/button/Button.astro'
---
<div class="portfolio-grid">
	{portfolio.map(({ id, name, logo, website, sectors, blog }) => (
		<div class="portfolio-item">
			<img class="portfolio-logo" alt={t("{name} Preview Image", { name })} src={logo} />
			<h5>{name}</h5>
			<a
				title={t("Visit {name}", { name })}
				target="_blank"
				class="portfolio-link"
				href={website}
			>
				{website.replace(/^.*\W(\w+?\.\w+).*$/, "$1").toLowerCase()}
			</a>
			<div class="portfolio-sectors">
				{sectors.map((sector) => (
					<Button disabled>{t(sector)}</Button>
				))}
			</div>
			{
				blog && (
					<p>
						<a
							title={t("Click to learn why we invested in {name}", { name })}
							class="portfolio-blog"
							href={blog}
							target="_blank"
						>
							{t("+ Why We Invested")}
						</a>
					</p>
				)
			}
		</div>
	))}
</div>

<style>
.portfolio-grid {
	display: flex;
	flex-direction: row;
	padding: 0 var(--gutter-width);
	column-gap: 7.25rem;
	flex-wrap: wrap;
	row-gap: 3.875rem;
	justify-content: center;
}
.portfolio-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 0.875rem;
}
.portfolio-item h5 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.portfolio-item img {
	/* background-color: rgba(0, 0, 0, 0.1); */
	border: dotted 1px var(--color-tertiary);
	opacity: 0.6;
	filter: grayscale(1);
	transition: opacity 0.3s, filter 0.3s;
	object-fit: contain;
	object-position: center;
	padding: 1rem;
	width: 14.5rem;
	height: 6rem;
}
.portfolio-item img:hover {
	opacity: 1;
	filter: grayscale(0);
}
.portfolio-sectors {
	display: flex;
	flex-direction: row;
	column-gap: 0.5rem;
}
.portfolio-link:hover {
	text-decoration: underline;
}
@media (max-width: 742px) {
	.portfolio-grid {
		column-gap: 1rem;
		justify-content: space-around;
	}
}
</style>