---
import "modern-normalize/modern-normalize.css";
import "styles/root.css";

import Header from "components/header/Header.astro";
import Footer from "components/footer/Footer.astro";
import { t, defaultOptions } from "utils/i18n";
import { strings } from "data/strings";

const {
  maxWidth = "90.0rem",
  minWidth = "24.5rem",
  slim = false,
  title,
  description,
  ogImage,
} = Astro.props;

const pageTitle = title ?? `SNØCAP | ${t(strings.oneLiner)}`;
const pageOgTitle = title ?? "SNØCAP";
const pageDescription = description ?? t(strings.oneLiner);
const pageOgImage = ogImage
  ? new URL(ogImage, strings.canonicalUrl).toString()
  : `${strings.canonicalUrl}/assets/metadata/card-twitter.gif`;
const pageUrl = Astro.url
  ? new URL(Astro.url.pathname, strings.canonicalUrl).toString()
  : strings.canonicalUrl;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={pageDescription} />
    <meta property="og:title" content={pageOgTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={pageOgImage} />
    <meta
      property="og:locale"
      content={defaultOptions.locale.replace("-", "_")}
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content={pageOgImage} />
    <meta property="og:url" content={pageUrl} />
    <link rel="canonical" href={pageUrl} />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/assets/metadata/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/assets/metadata/icon-apple-180.png" />
    <link rel="manifest" href="/assets/metadata/icons.webmanifest" />
    <meta name="theme-color" content="#FFFFFF" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header slim={slim} />
    <main>
      <div id="content">
        <slot />
        {!slim && <Footer />}
      </div>
    </main>
  </body>

  <style define:vars={{ maxWidth, minWidth }}>
    body {
      --gutter-width: 5rem;
    }
    main {
      margin: 0 auto;
      flex-direction: column;
      max-width: var(--maxWidth);
      min-width: var(--minWidth);
      overflow: hidden;
    }

    @media (max-width: 742px) {
      body {
        --gutter-width: 2.8rem;
      }
    }
  </style>
</html>
